<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather App</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>

    <header>
        <h1>Weather App</h1>
    </header>

	<div class="weather-app">
		
		<form class="search-form" method="post">
			<input type="text" class="city-input" placeholder="Enter City Name" name="location">
			<input type="submit" value="Search" formaction="/search" id="search-btn">
		</form>
        
	</div>
</body>

</html>